.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 50;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.content {
  position: relative;

  border-radius: 0.75rem;

  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);

  width: 100%;
  max-width: 32rem;

  border-width: 1px;
  border-style: solid;

  transition-property: transform;
  transition-duration: var(--transition-default);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1.25rem;

  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.title {
  font-size: 1.25rem;
  font-weight: 700;
}

.body {
  padding: 1.25rem;
}

.content {
  background-color: var(--color-modal-background);
  border-color: var(--color-modal-border);
}

.header {
  border-color: var(--color-modal-border);
}

.title {
  color: var(--color-modal-title);
}

.body {
  color: var(--color-modal-body);
}

.footer {
  display: flex;
  justify-content: flex-end;
  margin: 1.5rem;
}
