/* Base styles */
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 0.5rem 1rem;
  font-size: 1rem;

  border-radius: var(--border-radius-base);
  border-width: 1px;
  border-style: solid;

  font-weight: 500;

  transition-property: all;
  transition-duration: var(--transition-default);

  cursor: pointer;

  background-color: var(--color-btn-background);
  color: var(--color-btn-text);
  border-color: var(--color-btn-border);
}

.button:focus {
  outline: none;
}

.button:hover {
  background-color: var(--color-btn-hover);
}

/* Icon variant */
.icon {
  padding: 0.5rem;
  border-radius: 9999px;

  border-color: transparent;
  border-width: 0;
  border-style: none;
  color: var(--color-icon);
}

.icon:hover {
  background-color: var(--color-icon-hover);
}
