.section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.headingContainer {
  margin-bottom: 1.5rem;
}

.heading {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--color-post-list);
}

.postsGrid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1.5rem;
}
