.commentList {
  margin: 20px 0;
}

.commentsContainer {
  padding-top: 10px;
}

.commentItem {
  padding: 8px;
  border-bottom: 2px solid #eee;
}

.commentHeader {
  font-weight: bold;
  margin-bottom: 4px;
}

.commentEmail {
  font-size: 0.9rem;
}
