.header {
  position: relative;
  top: 0;
  z-index: 50;
  width: 100%;
  border-bottom-width: 1px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.06);

  backdrop-filter: blur(4px);
  background-color: var(--color-header);
  border-bottom-color: var(--color-header-bottom);
}

.headerContent {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 4rem;
  height: 2rem;
  background-color: #2563eb;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 700;
  font-size: 1.125rem;
  cursor: pointer;
}

.controls {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
