.todoCard {
  border-radius: 0.75rem;

  box-shadow: 0 10px 15px -3px #0000001a, 0 4px 6px -2px #0000000d;

  border-width: 1px;
  border-style: solid;

  display: flex;
  flex-direction: column;
  height: 100%;

  transition-property: all;
  transition-duration: var(--transition-default);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  background-color: var(--color-post-background);
  border-color: var(--color-post-border);
}

.todoCard:hover {
  box-shadow: 0 20px 25px -5px #0000001a, 0 10px 10px -5px #0000000a;
}

.content {
  padding: 2rem;
  flex-grow: 1;
}

.title {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: 0.5rem;
  color: var(--color-post-title);
}

.status {
  font-size: 1rem;
  color: var(--color-post-body);
}
