@import 'tailwindcss';

:root {
  /* Typography */
  --font-family-base: 'Roboto', sans-serif;
  --font-size-base: 1rem;
  --line-height-base: 1.5;

  /* Spacing */
  --space-xs: 0.25rem;
  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 1.5rem;
  --space-xl: 3rem;

  /* Other */
  --border-radius-base: 0.5rem;
  --transition-default: 0.3s ease;
}

/* Themes */
/* TO DO: уменьшить число цветов */
.theme-light {
  --color-background: #ffffff;
  --color-text: #1e1e1e;

  --color-btn-background: #ffffff;
  --color-btn-text: #0f172a;
  --color-btn-border: #e2e8f0;

  --color-btn-hover: #f1f5f9;

  --color-icon: #64748b;
  --color-icon-hover: #e2e8f0;

  --color-post-background: #fff;
  --color-post-border: #e2e8f0;
  --color-post-title: #0f172a;
  --color-post-body: #475569;

  --color-modal-background: #fff;
  --color-modal-border: #e2e8f0;
  --color-modal-title: #0f172a;
  --color-modal-body: #475569;

  --color-header-title: #0f172a;
  --color-header: #ffffffd0;
  --color-header-bottom: #e2e8f0;
  --color-post-list: #0f172a;
}

.theme-dark {
  --color-background: #1e1e1e;
  --color-text: #ffffff;

  --color-btn-background: #1e293b;
  --color-btn-text: #e2e8f0;
  --color-btn-border: #334155;

  --color-btn-hover: #334155;

  --color-icon: #94a3b8;
  --color-icon-hover: #334155;

  --color-post-background: #1e293b;
  --color-post-border: #334155;
  --color-post-title: #fff;
  --color-post-body: #94a3b8;

  --color-modal-background: #1e293b;
  --color-modal-border: #334155;
  --color-modal-title: #fff;
  --color-modal-body: #cbd5e1;

  --color-header-title: #fff;
  --color-header: #0f172ae6;
  --color-header-bottom: #334155;

  --color-post-list: #fff;
}
