.footer {
  background-color: #0f172a;
  color: #94a3b8;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-top: auto;
}

.copyrightContainer {
  border-top-width: 1px;
  border-style: solid;
  border-color: #334155;
  margin-top: 2rem;
  padding-top: 2rem;
  text-align: center;
  font-size: 0.875rem;
  color: #64748b;
}
