.tabsContainer {
  width: 100%;
  max-width: 60rem;
  border-radius: 0.5rem;
}

.tabsList {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabButton {
  padding: 1rem;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
}

.inactive {
  color: #6b7280;
}

.inactive:hover {
  color: #374151;
  background-color: #f9fafb;
}

.active {
  border-bottom: 2px solid #6366f1;
  margin-bottom: -1px;
  color: #4f46e5;
  background-color: #eef2ff;
}
