.tabsList {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabButton {
  padding: 1rem;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
}

.inactive {
  color: #6b7280;
}

.inactive:hover {
  color: #374151;
  background-color: #f9fafb;
}

.active {
  color: #4f46e5;
  background-color: #eef2ff;
}
