.tabsList {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0 auto;
}

.tabButton {
  padding: 1rem;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
}

.inactive {
  color: var(--color-icon);
}

.inactive:hover {
  color: var(--color-text);
  background-color: var(--color-btn-hover);
}

.active {
  color: var(--color-header-title);
  background-color: var(--color-icon-hover);
  border-bottom: 2px solid var(--color-header-title);
}
