.p {
  margin-bottom: 1rem;
}

.techList {
  list-style-type: disc;

  list-style-position: inside;

  margin-top: 0;
  padding-left: 0;
  text-align: left;
}

.techList li {
  margin-bottom: 0.25rem;
}

.footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
}
